<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sibo.business.mapper.VMeasurementBasicMapper">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.sibo.business.entity.VMeasurementBasic" id="vMeasurementBasicMap">
        <result property="id" column="ID"/>
        <result property="checkType" column="CHECK_TYPE"/>
        <result property="standardRange" column="STANDARD_RANGE"/>
        <result property="standardValue" column="STANDARD_VALUE"/>
        <result property="crtUserName" column="CRT_USER_NAME"/>
        <result property="crtUserId" column="CRT_USER_ID"/>
        <result property="crtTime" column="CRT_TIME"/>
        <result property="updUserName" column="UPD_USER_NAME"/>
        <result property="updUserId" column="UPD_USER_ID"/>
        <result property="updTime" column="UPD_TIME"/>
    </resultMap>

</mapper>